
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>whatapop</h1>
            </header>
        </div>

    </div>
    <div class="row">
        <div class="twelve columns">
            <!--barra de navegacion-->
            <nav class="bar-nav">
                <ul>
                   <!-- <li>
                        <a ng-link="['MisProductos']">Mis Productos</a>
                    </li>
                    <li>
                        <a ng-link="['NuevoProducto']">Nuevos Productos</a>
                    </li>-->
                </ul>
            </nav>
        </div>
    </div>

    <!--zona dinámica-->
    <ng-outlet></ng-outlet>

</div>
